@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Ovo&display=swap');

.App {
  /* overflow: hidden; */
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

header {
  background-color: #129490;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  color:#DDFFF7;
  font-family: 'Ovo', serif;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

#front-img {
  object-fit: cover;
  width: 50vw;
  height: 100vh;
  justify-content: center;
}

#form-container {
  width: 50vw;
  height: 100vh;
  background-color: #DDFFF7;
}

h1 {
  font-family: "Ovo", serif;
}

#form-centered {
  padding: 15%;
}

.centered-text {
  text-align: center;
}

a,
label, 
input {
  font-family: "Brygada 1918", serif;
  font-size: large;
  margin: 5px;
  padding: 5px;
}

/* #submit-button {

}

#submit-button:hover {

} */

.nav-bar,
.tab-div {
  width: 100vw;
  background-color: #129490;
  display: flex;
  justify-content: space-around;
}

.nav-button {
  flex-grow: 1;
  text-align: center;
  font-family: "Brygada 1918", serif;
  font-weight: bold;
  font-size: 19px;
  color: #129490;
  padding: 1%;
  border-radius: 10px 10px 0px 0px;
  background-color: #DDFFF7;
  border: 1px solid #129490;
  border-bottom: none;
}

.nav-button:hover {
  background-color: #001021;
  color: white;
  transition: ease-in 90ms;
}

.nav-button:active,
.nav-button-current {
  background-color: #129490;
  color:#DDFFF7;
  /* height: 70%; */
}

.page-title {
  padding: 2%;
  margin: 0px;
  padding-bottom: 0px;
}

.subtitle {
  font-family: "Brygada 1918", serif;
  font-size: 18px;
  margin: 0px;
  padding: 2%;
  padding-top: 0%;
}

.covers-container {
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 20px;
  padding: 25px;
  padding-top: 0px;
  overflow: scroll;
}

.book-cover {
  /* background-color: #129490; */
  width: calc(100vw / 5 - 40px);
  height: 350px;
}

.blue-background {
  background-color: green;
  margin: 10px;
}

.blurb-grid {
  display: grid;
  grid-template-areas: 'image image title title title title'
  'image image author author published published'
  'image image desc desc desc desc'
  'preview preview desc desc desc desc'
  'add add maturity rating pageno price';
  
}

#grid-rating {
  grid-area: rating;
}

#grid-add {
  grid-area: add;
}

#grid-title {
  grid-area: title;
}

#grid-published {
  grid-area: published;
}

#grid-image {
  grid-area: image;
}

#grid-author {
  grid-area: author;
}

#grid-desc {
  grid-area: desc;
}

#grid-preview {
  grid-area: preview;
}

#grid-maturity {
  grid-area: maturity;
}

#grid-page {
  grid-area: pageno;
}

#grid-price {
  grid-area: price;
}