@import url('https://fonts.googleapis.com/css2?family=Brygada+1918&family=Ovo&display=swap');

.App {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100vh;
}

header {
  background-color: #129490;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  padding: 20px;
  color:#DDFFF7;
  font-family: 'Ovo', serif;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column
}

.flex-row {
  flex-direction: row
}

#front-img {
  object-fit: cover;
  width: 50vw;
  height: 100vh;
  justify-content: center;
}

#form-container {
  width: 50vw;
  height: 100vh;
  background-color: #DDFFF7;
}

h1 {
  font-family: "Ovo", serif;
}

#form-centered {
  padding: 15%;
}

.centered-text {
  text-align: center;
}

a,
label, 
input {
  font-family: "Brygada 1918", serif;
  font-size: large;
  margin: 5px;
  padding: 5px;
}

#submit-button {

}

#submit-button:hover {

}